html{
    scroll-behavior: smooth;
}
body{
    background-color: #eee;
}
/*------------Log in--------------*/
.bg-blue{
    background-color: #0acdfd;
}
.frmLogin{
    background-color: brown;
    height: 500px;
}
.frmLogin .left-side{
    background-color: #0acdfd;
    height: 500px;
}
.frmLogin .right-side{
    background-color: #424242;
    height: 500px;
}
.title{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    /* background-color: red; */
}
.content img{
    margin-left: 33%;
}
.fa{
    color: #0acdfd;
}
.fa:hover{
    color: #17A2B8;
    cursor: pointer;
}
#btnLogin{
    background-color: #0acdfd;
    width: 80%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
/*-----------------Index------------------------*/
.dropdown:hover>.dropdown-menu {
    display: block;
}
/*-----------------KhuonVien--------------------*/
#map-canvas {
    width: auto;
    height: 350px;
}
#info {
    position: absolute;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.font-size-1{
    font-size: 0.8rem;
}
/*----------------------------Modal--------------*/
.chitiet:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*--------------------------Button-------------*/
.btn-hidden{
    display: none;
}
.thaotac{
    display: flex;
    align-items: center;
    justify-content: center
}
