<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/usm/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  </head>
  <body>
    <select class="form-control form-control-md" id="slTK_View">
      <option value="1">Còn hiệu lực</option>
      <option value="0">Vô hiệu</option>
      <option value="2">Xem tất cả</option>

      <!-- <%= JSON.stringify(taikhoan) %> -->
      <% taikhoan.forEach(function(tk){ %>
      <tr>
        <td><%= tk.TK_ID %></td>
        <td><%= tk.TK_HOTEN %></td>

        <td><%= tk.TK_DONVI %></td>
        <td><%= tk.TK_LOAI %></td>
        <td>
          <% if(tk.TK_HIEULUC == 1) {%>
          <!-- <h2><%= tk.TK_HIEULUC %>  hello</h2> -->
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              checked="true"
              id="ckHieuLuc[<%= tk.TK_ID %>]"
              onclick="UpdateHieuLuc('<%= tk.TK_ID %>')"
              name="TK_HIEULUC"
            />
            <label class="custom-control-label" for="ckHieuLuc[<%= tk.TK_ID %>]"></label>
          </div>
          <%} else {%>
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              id="ckHieuLuc[<%= tk.TK_ID %>]"
              onclick="UpdateHieuLuc('<%= tk.TK_ID %>')"
              name="TK_HIEULUC"
            />
            <label class="custom-control-label" for="ckHieuLuc[<%= tk.TK_ID %>]"></label>
          </div>
          <%}%>
        </td>

        <td class="thaotac">
          <label for="btnUpdate[<%= tk.TK_ID %>]">
            <i class="fa fa-edit fa-lg" data-toggle="modal" data-target="#EditTK" title="Cập nhật"> </i>
          </label>
          <input
            type="button"
            class="btn-hidden"
            data-toggle="modal"
            data-target="#EditTK"
            value="<%= tk.TK_ID %>"
            onclick="UpdateModal('<%= tk.TK_ID %>')"
            id="btnUpdate[<%= tk.TK_ID %>]"
          />
          <!-- <form
              method="DELETE"
              enctype="application/x-www-form-urlencoded"
              style="margin-left: 5%"
              
            > -->
          <label for="btnDelete[<%= tk.TK_ID %>]"><i class="fa fa-trash fa-lg" title="Xóa"></i></label>
          <input type="hidden" name="TK_ID" value="<%= tk.TK_ID %>" />
          <input type="button" value="Delete" id="btnDelete[<%= tk.TK_ID %>]" class="btn-hidden" onclick="Delete('<%= tk.TK_ID %>')" />
          <!-- </form> -->
        </td>
        <td>
          <button data-toggle="modal" data-target="#ThongKeTK-MuonTra" class="btn btn-outline-dark btn-sm">
            Mượn-trả
          </button>
          <button data-toggle="modal" data-target="#ThongKeTK-ViPham" class="btn btn-outline-dark btn-sm">
            Vi phạm
          </button>
          <button data-toggle="modal" data-target="#ThongKeTK-HuHong" class="btn btn-outline-dark btn-sm">
            Hư hỏng
          </button>
        </td>
      </tr>
      <% }); %>
    </select>

    <script>
      function a() {
        var view = document.getElementById("slTK_View").value;
        if(view == 1)
      }
    </script>
  </body>
</html>
