<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Thống kê lượt vi phạm</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/usm/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <!-- My css -->
    <link rel="stylesheet" href="./css/login.css" />
    <!-- My js -->
    <script src="./js/tk-vipham-ajax.js"></script>
    <script src="./js/vipham-ajax.js"></script>

    <!-- Data table -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <!-- Datetime picker -->
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  </head>

  <body onload="LoadDataTableTK()">
    <script></script>
    <div id="header">
      <%- include('header'); -%>
    </div>

    <div class="container-fluid bg-white ">
      <h2 class="text-center font-weight-semi-bold text-dark mt-3">
        THỐNG KÊ LƯỢT VI PHẠM
      </h2>
      <div class="form-group form-inline">
        <label class="mx-3">Từ ngày: </label>
        <div id="tungay" class="input-group date" data-date-format="yyyy-mm-dd">
          <input class="form-control" readonly="" type="text" />
          <span class="input-group-addon"></span>
        </div>
        <label class="mx-3">Đến ngày: </label>
        <div id="denngay" class="input-group date mr-3" data-date-format="yyyy-mm-dd">
          <input class="form-control" readonly="" type="text" />
          <span class="input-group-addon"></span>
        </div>
        <div class="form-group form-inline">
          <input type="button" value="Xem" class="btn btn-info" id="btnXem" onclick="ThongKeViPham()" />
        </div>
      </div>

      <div class="container-fluid">
        <!-- Table vi pham -->
        <div class="table-responsive">
          <table id="tbTKVP" class="table table-striped table-bordered" style="width:100%" cellspacing="0" cellpadding="0">
            <thead class="bg-info text-white font-weight-semi-bold text-center">
              <tr>
                <td width="10%">ID vi phạm</td>
                <td width="10%">ID mượn trả</td>
                <td width="30%">Tên lỗi</td>
                <!-- <td>Tài khoản vi phạm</td>
                <td>Xe vi phạm</td> -->
                <td width="20%">Thời gian vi phạm</td>
                <td width="15%">Trạng thái</td>
                <td>Xem chi tiết</td>
              </tr>
            </thead>
            <tbody class="text-center" id="tb"></tbody>
          </table>
        </div>

         <!-- Modal Chi tiet vi pham -->
      <div id="ChiTietViPham" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-uppercase">Chi tiết vi phạm</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <table class="table table-sm table-borderless col-lg-8 mx-auto" " id="tbCTVP"></table>
            </div>
            <!-- Map -->
            <div id="googleMap" style="width: 100%; height :200px"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5qwgemJp4LtodR8lvXg382V-cDFK3bY&callback=MapPosition"></script>

            <div class=" modal-footer">
              <input type="button" value="Đóng" id="btnCancel" class="btn btn-danger px-3" data-dismiss="modal" />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Chi tiet TK -->
      <div id="ChiTietTK" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-uppercase">Chi tiết tài khoản</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <table class="table table-sm table-borderless col-lg-8 mx-auto">
                <tr>
                  <td>ID</td>
                  <td id="TK_ID"></td>
                </tr>
                <tr>
                  <td>Họ tên</td>
                  <td id="TK_HOTEN"></td>
                </tr>
                <tr>
                  <td>Đơn vị</td>
                  <td id="TK_DONVI"></td>
                </tr>
                <tr>
                  <td>Loại tài khoản</td>
                  <td id="TK_LOAI"></td>
                </tr>
                <tr>
                  <td>Hiệu lực</td>
                  <td id="TK_HIEULUC"></td>
                </tr>
              </table>
            </div>

            <div class=" modal-footer">
              <input type="button" value="Đóng" id="btnCancel" class="btn btn-danger px-3" data-dismiss="modal" />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Chi tiet muon tra -->
      <div id="ChiTietMuonTra" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-uppercase">Chi tiết mượn trả xe</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <table class="table table-sm table-borderless mx-auto" id="tbCTMT"></table>
            </div>

            <!-- Map -->
            <!-- <div id="googleMap" style="width: 100%; height :200px"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5qwgemJp4LtodR8lvXg382V-cDFK3bY&callback=MapPosition"></script> -->

            <div class=" modal-footer">
              <input type="button" value="Đóng" id="btnCancel" class="btn btn-danger px-3" data-dismiss="modal" />
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
